*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
public/photos
public/resize
public/rotate

# YARD artifacts
.yardoc
_yardoc
doc/
