.container
	.hero-unit
		%h1
			About Us
		%p
			This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
		%p
			%a.btn.btn-primary.btn-large{} About Us

	.row
		.span4
			%h2
				About Us
			%p
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			%p
				%a.btn{:href => '/about'} About Us
		.span4
			%h2
				Photos
			%p
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			%p
				%a.btn{:href => '/photos'} Photos
		.span4
			%h2
				Contact
			%p
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
			%p
				%a.btn{:href => '/contact'} Contact

	%div= haml :footer