.container
	.row
		.span4
			%h2
				Delete
			%p
				Choose photos to delete
			%p
				%a.btn{:href => '/delete/all'} Choose
		.span4
			%h2
				Censor
			%p
				Choose photos to censor
			%p
				%a.btn{:href => '/censor/all'} Choose
		.span4
			%h2
				Publish
			%p
				Choose photos to publish
			%p
				%a.btn{:href => '/publish/all'} Publish

	%div= haml :footer

