.container
  .row
    .span12
      #selected
  .row
    #gallery{ data: { toggle: 'modal-gallery', target: '#modal-gallery' } }
      - for image in @images do
        .span4
          =haml :thumbnail, locals: { image: image }
  .row
    .span12
      .pagination.pagination-centered
        %ul
          %li
            %a#previous-page{:href => url.gsub(/\/[0-9]*$/, "/#{@previous_start_index}")}
              &larr; Prev
          %li
            %a#next-page{:href => '#' }
              Next &rarr;

  #modal-gallery.modal.modal-gallery.hide.fade{ tabindex:'-1' }
    .modal-header
      %a.close{ data: { dismiss: "modal" } } &times;
      %h3.modal-title
    .modal-body
      .modal-image
    .modal-footer
      %a.btn.btn-primary.modal-next
        Next
        %i.icon-arrow-right.icon-white
      %a.btn.btn-info.modal-prev
        Previous
        %i.icon-arrow-left.icon-white
      %a.btn.btn-success.modal-play.modal-slideshow{ data: { slideshow: 5000 } }
        %i.icon-play.icon-white
      %a.btn.btn-primary.modal-next
        Download
        %i.icon-arrow-right.icon-white

