.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '/'} Gallery
      %ul.nav
        %li{:class => url =~ /\/unsorted/ ? 'active' : ''}
          %a{:href => '/unsorted'}Unsorted Photos
        %li{:class => url =~ /\/deleted/ ? 'active' : ''}
          %a{:href => '/deleted'}Deleted Photos
        %li{:class => url =~ /\/censored/ ? 'active' : ''}
          %a{:href => '/censored'}Censored Photos
        %li{:class => url =~ /\/published/ ? 'active' : ''}
          %a{:href => '/published'}Published Photos
