body {
  padding-top: 60px;
  padding-bottom: 40px;
}

img.selected {
  opacity: .2;
}

div.thumb-container div.header {
  position: absolute
}

.thumb-container:hover .header {
  display: inline
}
.thumb-container .header {
  display: none
}
